<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="am-splash-screen">

                        <span>Пожалуйста авторизуйтесь в системе</span>

                        {% if error %}
                            <div style="color:red;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <form action="{{ path('admin_login') }}" method="post">
                            <label for="username">Username:</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" />

                            <label for="password">Password:</label>
                            <input type="password" id="password" name="_password" />

                            <button type="submit">login</button>
                        </form>


</body>
</html>